<html>
  <head>
	<meta charset="utf-8">
    <title>On Chain Data</title>
  </head>
  <body>
	<p>The latest Block:</p>
	<span id="latest"></span>
	<p>All Blocks:</p>
	<ul id="output"></ul>
	
	<script>
		var xhr = new XMLHttpRequest();
		xhr.open('GET', '{{ url_for('get_streaming_onchaindata') }}');
		xhr.send();
		var position = 0;
		var latestIndex = 0;
		//var blockchain = []
		
		function handleNewData() {
			var messages = xhr.responseText.split('\n');
			messages.slice(position, -1).forEach(function(value) {
				var jsonObj = JSON.parse(value);
				if (latestIndex < jsonObj.INDEX) {       // if new data is coming
					latest.textContent = value;  // update the latest value in place
					var item = document.createElement('li');
					item.textContent = value;
					output.appendChild(item);
					latestIndex = jsonObj.INDEX
				} else if (jsonObj.INDEX == 0) {           // init
					latest.textContent = value;
					var item = document.createElement('li');
					item.textContent = value;
					output.appendChild(item);
					latestIndex = jsonObj.INDEX
				}
			});
			position = messages.length - 1;
		}
		
		var timer;
		timer = setInterval(function() {
			// check the response for new data
			handleNewData();
			// stop checking once the response has ended
			if (xhr.readyState == XMLHttpRequest.DONE) {
				clearInterval(timer);
				latest.textContent = 'Worker connection has been closed';
			}
		}, 3000);
		
	</script>
  </body>
</html>

